/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/app/config/packages/vanderlin/
!/app/storage/
!/app/storage/*

node_modules/
public/assets/vendor/
public/assets/uploads/
app/storage/.DS_Store
public/assets/css/backend/backend.css
public/assets/css/frontend/frontend.css

public/assets/js/backend.js
public/assets/js/frontend.js

public/assets/js/backend.min.js
public/assets/js/frontend.min.js
